.skeleton {
  background-color: rgb(199, 199, 199);
}

.skeleton.title {
  height: 1.25rem;
  margin-bottom: 1rem;
}

.skeleton.text {
  height: 0.75rem;
}

.skeleton.width-100 {
  width: 100%;
}

.skeleton.width-50 {
  width: 50%;
}

.skeleton.profile-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.skeleton.toplocation-banner {
  min-height: 12rem;
}
.skeleton.toplocation-logo {
  height: 89px;
  width: 90px;
  border-radius: 9999px;
}
.skeleton.toplocation-tag {
  width: 3.125rem;
  height: 0.938;
}
.skeleton.toplocation-check {
  width: 4.5rem;
  height: 1.063rem;
}
.skeleton.toplocation-title {
  width: 25rem;
  height: 3rem;

  overflow: hidden;
}
.skeleton.toplocation-description {
  width: 100%;
  height: 20px;
  border-radius: 100px;
}

.skeleton.topfive-svg {
  width: 160px;
  height: 72px;
}
.skeleton.rounded-client-image-wrapper {
  width: 3.5rem;
  height: 3.5rem;
}
.skeleton.rounded-client-tag {
  width: 40px;
  height: 14px;
}
.skeleton.rounded-client-name {
  width: 96px;
  height: 17px;
}

.skeleton-client-profile-photo {
  width: 22rem;
  height: 13rem;
  border-radius: 2rem;
  top: -3rem;
  left: -3rem;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@media all and (max-width: 1024px) {
  .skeleton.skeleton.toplocation-title {
    width: 124px;
    height: 28px;
  }
  .skeleton.toplocation-logo {
    width: 3rem;
    height: 3rem;
  }
  .skeleton.toplocation-description {
    width: 100%;
    height: 10px;
  }
  .skeleton.toplocation-description:nth-child(3),
  .skeleton.toplocation-description:nth-child(4),
  .skeleton.toplocation-description:nth-child(5) {
    display: none;
  }
  .skeleton.topfive-svg {
    width: 111px + 24px;
    height: 24px;
  }
}
